<h1>Samuel Stone</h1>
<p>BS Electrical Engineering<br>
Binghamton University 2019</p>
<a href="https://github.com/sciencesam/">Github</a>
<a href="https://www.linkedin.com/in/samuel-stone-a28508118//">Linkedin</a>
<%= "Sam" if admin_signed_in? && current_admin.admin? %>