<div class="card-image">
    <img class="img-responsive" src="http://previews.123rf.com/images/moswyn/moswyn0712/moswyn071200013/2236576-dosage-cup-with-metic-measurements-displayed-Stock-Photo.jpg">
    <span class="card-title">Hydrophobic Dosage Cups</span>
</div>
                
<div class="card-content">
    <p>The overall goal of this project is redesign the medicinal dosage cup to exceed new FDA requirements.
    Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
</div>