<div class="card-image">
    <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
    <span class="card-title">Cats</span>
</div>
                
<div class="card-content">
    <p>Cards for display in portfolio style material design by Google.</p>
</div>