

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        <a class="img-thumbnail">
            <img class = "img" style="height: 15em" alt="Hi" src="<%= asset_path("sam.png")%>">
          </a>
    </div>
    <div class="col-sm-3 center-block text-center">
        </br></br>
        <h1>Samuel Stone</h1>
        <p>BS Electrical Engineering<br>
        Binghamton University 2019</p>
    </div>
    <div class="col-sm-3">
    </div>
</div>
</br>


<p style="text-indent:2em">
I have experience in product design,
specifically with injection molded
products and aerospace-grade electronics. I have also conducted research
in interface science and computer vision.  I have filed for a number of
patent-pending inventions related specifically to solving problems for 
various customers. I enjoy the challenge of difficult projects and relish 
the opportunity to employ my skills. I have done design and research work 
on projects in the demanding medical and aerospace industries as well as 
simpler design projects. Through my education, I have experience with 
mathematical modeling of systems, signal analysis, industrial and autonomous
robotics, and computer programming.
</p>
<a href="https://github.com/sciencesam/">Github</a>
<a href="https://www.linkedin.com/in/samuel-stone-a28508118//">Linkedin</a>